// Font-sizes

$font-size-regular1:12px;
$font-size-regular2:16px;
$font-size-regular3:50px;
$font-size-regular4:20px;

// Placeholders
%height-size1{
    height: 33%;
}

//colors 
$lines-colors: #FACD62;
$overlays-colors:#312D2A;
$color1:#000000;
$color2:#1A4A2E;
$color3:#A4D8E5;
$color4:#ffffff;
$spacer: 15px; // use it for margins and paddings. 